#headerContainer {
    height: 15%;
    // background-color: aqua;
}
#contentRowContainer {
    height: 85%;
}
// #navBarContainer {
//     // height: 80% !important;
//     background-color: purple;
// }
// #contentContainer {
//     // height: 80% !important;
//     background-color: peru;
// }
// #socialMediaContainer {
//     // height: 80% !important;
//     background-color: olivedrab;
// }

.bordered {
    border: 2px;
    border-style: solid;
    border-color:maroon;
}