<mat-card>
    <mat-accordion>
        <mat-expansion-panel hideToggle *ngFor="let group of groups">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{ group.name }}
                </mat-panel-title>
                <mat-panel-description>
                    This is a summary of the content
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
                <mat-list-item *ngFor="let trainee of group.members">
                    {{ trainee.name }}
                    <button mat-raised-button>
                        <mat-icon>
                            person_remove
                        </mat-icon>
                    </button>
                </mat-list-item>
            </mat-list>
            <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
    </mat-accordion>
</mat-card>