<mat-card class="trainingCard">
    <mat-card-title> 
        <mat-icon> event </mat-icon>
        {{formatFullDate(trainingData.startTime)}} 
    </mat-card-title>
    <mat-card-subtitle> 
        <mat-icon> schedule </mat-icon>
        {{formatHourDate(trainingData.startTime)}} - {{formatHourDate(trainingData.endTime)}} 
    </mat-card-subtitle>
    <mat-card-content>
        <mat-icon> place </mat-icon>
        {{ trainingData.location.name }}
        <br> 
        <div class="modifierButtons">
            <button mat-raised-button (click)="openRegisterDialog()">
                <mat-icon> person_add </mat-icon>
                <!-- Register -->
            </button>
            <button mat-raised-button (click)="openEditTrainingDialog()">
                <mat-icon> edit </mat-icon>
            </button>
            <button mat-raised-button color="warn" (click)="deleteTraining()">
                <mat-icon> delete </mat-icon>
            </button>
        </div>
    </mat-card-content>
</mat-card>
